<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtb.javatool.dao.TeachingClassMapper">
    <select id="findClassByCourseId" parameterType="com.wtb.javatool.vo.TeachingClass"
            resultType="com.wtb.javatool.vo.TeachingClass">
        select tc.class_id,tc.class_name
        from teaching_class AS tc
        left join project_course_class_teacher_ref AS tctcr on tctcr.class_id=tc.class_id
        where tctcr.course_id=#{courseId}
        GROUP BY tc.class_id
    </select>
</mapper>