@font-face {
  font-family: "iconfont"; /* Project id 3063138 */
  src: url('iconfont.woff2?t=1640448917907') format('woff2'),
       url('iconfont.woff?t=1640448917907') format('woff'),
       url('iconfont.ttf?t=1640448917907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flashlight:before {
  content: "\e838";
}

.icon-flashlight-off:before {
  content: "\e742";
}

